    
{% extends 'hotel/base.html' %}
    {% block header %}
    <style>
        /*-----------Rest password Design Start-------------------*/

        .reset_wrapper {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            /*background: #f5f5f5 url(../images/bg.jpg) repeat;*/
            text-align: center;
        }

        .reset_wrapper:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
            z-index: -1;
        }

        .reset_container {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
            margin: 15px;

        }

        /*-----------Rest password Design Start-------------------*/
    </style>
    {% endblock %} 
    {% block content %}
    <form>
        {% csrf_token %}
    <div class="reset_wrapper">
        <div class="reset_container">
            {% comment %}
            <a href="#" class="logo_cntaner">
                <img src="/static/images/color_logo.png" alt=""> </a> {% endcomment %}
            <div class="reset_contaner">
                <h2>Reset Your Password</h2>
                <p>Please choose a new password to finish signing in.</p>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" id="pwd">
                    <label> Password must be minimum 6 characters in length</label>
                </div>
                <div class="form-group">
                    <label for="con_pwd">Re-Enter Password</label>
                    <input type="password" class="form-control" id="con_pwd">
                </div>

                <input type="button" id="btnSubmit" value="Change Password" class="reset_pwd">
            </div>
        </div>

    </div>
</form>
{% endblock %} 
{% block footer %}
<script type="text/javascript">
    $("#btnSubmit").click(function(e){

        if($("#pwd").val() == ""){
            alert("Password cannot be blank")
            $("#pwd").focus()
            return false
        }
        if($("#pwd").val().length <6)
        {
            alert("Password must be minimum 6 characters in length")
            $("#pwd").focus()
            return false
        }
        if($("#con_pwd").val() == "")
        {
            alert("Confirm Password cannot be blank")
            $("#con_pwd").focus()
            return false
        }
        if($("#pwd").val() != $("#con_pwd").val())
        {
            alert("Password and Confirm Password do not match")
            $("#pwd").focus()
            return false
        }
        
        $.ajax({
            url:"{% url 'hotel_user_management_confirm_reset_password' token=token %}",
            type:'POST',
            dataType:'json',
            data:{"con_pass": $("#con_pwd").val()},
            success:function(data){
                alert("Password has been changed successfully. Please Re-Login")
                window.location.href = "{% url 'login_index'  %}"
            },
            error:function(){
                alert("Something went wrong. Please contact administrator.")
            }
        })
    })
</script>
{% endblock %}
